*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}



#main-heading{
    margin: 10% 10;
    text-align: center;
}


section{
    width: 900px;
    margin: auto;
}


#first-section{
    margin: auto;
    padding: auto;
    text-align: center
}


#second-heading{
    margin: 5% 0%;
    text-align: center;
}


#nav-bar{
    display: flex;
    padding: 3% 0%;
    text-align: center;
}

#nav-list li {
    display: inline-block;
    padding: 50;
    text-align: center;
   
  }

  #nav-list li a {
    text-decoration: none;
    text-align: center;
    justify-content: center;
    display: flex;
  }

#paragraph1{
    padding: 20;
    margin: 5% 0%;
}

#button1{
    margin: 5% 0%;
    padding: 20;
}