*{
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

#main-heading{
    margin: 2% 0%;
    text-align: center;
}

    table {
    border-collapse: collapse;
    }

    section{
        width: 85vw;
        margin: 78px;
    }

#first-section{
    margin: auto;
    padding: auto;
    text-align: center
}


#second-heading{
    margin: 5% 0%;
    text-align: center;
}


#nav-bar{
    display: flex;
    padding: 3% 0%;
    text-align: center;
}

#nav-list li {
    display: inline-block;
    padding: 0 85px;
    text-align: center;
    }

  #nav-list li a {
    text-decoration: none;
    text-align: center;
    justify-content: center;
    display: flex;
  }

#paragraph1{
    padding: 20;
    margin: 5% 0%;
}

#button1{
    margin: 2% 0%;
    padding: 10;
}

#first-image-section{
    margin: 5% 5%;
    justify-content: center;
}

th, td {
    padding: 18px;
    text-align: left;
  }

  th, td {
    border: 1px solid black;
  }

li {
        padding: 18px;
        text-align: left;
      }

#recipes{
    margin: 5% 0%;
}

#button2{
    margin: 5% 0%;
    padding: 20;
}

#table-title{
    text-align: center;
}

#btn{
    text-decoration: none;
    padding: 10px;
    background-color: black;
    color: white;
    display: inline-block;
    margin-top: 4px;
}